@model List<SCA.Apresentacao.Models.Ativo>
@{
    ViewData["Title"] = "Ativos";
}

<h1>Controle de Ativos</h1>
@*<pre>@ViewBag.listaAtivosJson</pre>*@
<div>
    <a asp-action="Novo">Novo Ativo</a>
</div>
<div>
    <h5>Lista de Ativos</h5>
    @Html.Display(Model.Count.ToString())
</div>
@if (Model.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>Descrição</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descricao)
                    </td>
                    <td>
                        @*<a asp-action="Edit" asp- asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="/Details" asp-route-id="@item.Id">Details</a> |*@
                        <a asp-action="Excluir" asp-route-id="@item.Id" onclick="return confirm('Tem certeze que deseja excluir o ativo?');">Excluir</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div style="text-align:center">
        <h5>Nenhum registro encontrado</h5>
    </div>
}